/* Import Google Font */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
  overflow-x: hidden;
}

/* Nav Styles */
nav {
  background-color: #43513D;
  display: flex;
  flex-direction: row;
}

nav .branding {
  background-color: #FF9147;
  min-width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

nav .branding img {
  margin: auto 0;
}

nav .decor-topNotch {
  content: "";
  position: absolute;
  width: 60px;
  height: 30px;
  left: 100px;
  top: -10px;
  background-color: #43513D;
  transform: rotate(45deg);
}

nav .links {
  margin-left: auto;
  display: flex;
}

nav a {
  color: white;
  text-decoration: none;
  margin: auto 2rem;
}

/* Footer Styles */
footer {
  background-color: #43513D;
  border-top: 5px solid #13210B;
  border-bottom: 3px solid #13210B;
  display: flex;
  justify-content: space-between;
  padding: 10px 5vw;
}

footer a {
  color: #13210B;
  transition: color .2s ease-in-out;
}

footer a:hover {
  color: #FF9147;
}

.links-bottom {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  gap: 10px 5px;
  font-size: 14px;
  margin: 15px 0;
}