/* Import Google Font */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Nav Styles */
nav {
  background-color: #43513D;
  display: flex;
  flex-direction: row;
}

nav .branding {
  background-color: #FF9147;
  min-width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

nav .branding img {
  margin: auto 0;
}

nav .decor-topNotch {
  content: "";
  position: absolute;
  width: 60px;
  height: 30px;
  left: 100px;
  top: -10px;
  background-color: #43513D;
  transform: rotate(45deg);
}

nav .links {
  margin-left: auto;
  display: flex;
}

nav a {
  color: white;
  text-decoration: none;
  margin: auto 2rem;
}

/* Footer Styles */