/* Import Google Font */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
  overflow-x: hidden;
}

/* Nav Styles */
nav {
  background-color: #43513D;
  display: flex;
  flex-direction: row;
}

nav .branding {
  background-color: #FF9147;
  min-width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

nav .branding img {
  margin: auto 0;
}

nav .decor-topNotch {
  content: "";
  position: absolute;
  width: 60px;
  height: 30px;
  left: 100px;
  top: -10px;
  background-color: #43513D;
  transform: rotate(45deg);
}

nav .links {
  margin-left: auto;
  display: flex;
}

nav a {
  color: white;
  text-decoration: none;
  margin: auto 2rem;
}

/* Footer Styles */
footer {
  border-top: 5px solid #13210B;
  border-bottom: 3px solid #13210B;
  display: flex;
  justify-content: flex-end;
  padding: 30px 5vw;
  background-color: #43513D;
  position: relative;
  height: 200px;
}

footer a {
  transition: color .2s ease-in-out;
  color: #13210B;
  font-weight: 500;
}

footer a:hover {
  color: #FF9147;
}

.forest {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  background-image: url("../public/Forest.png");
  background-position: left;
  background-size: contain;
  background-repeat: no-repeat;
  width: 30%;
  height: 100%;
}

.footer-callToAction {
  content: "";
  position: absolute;
  left: 20%;
  bottom: 0;
  background-image: url(/_next/static/media/Footer.8b2c1bcb.png);
  background-position: left;
  background-size: 450px 150px;
  background-repeat: no-repeat;
  width: 60%;
  height: 100%;
}

.starGroup {
  margin-left: 10px;
}

.links-bottom {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  gap: 10px 5px;
  font-size: 14px;
  margin: 15px 0;
}