.hero {
    background-color: gainsboro;
    background: url("https://images.unsplash.com/photo-1627591637320-fcfe8c34b62d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh;
}