.hero {
    background-color: gainsboro;
    background: url("https://images.unsplash.com/photo-1627591637320-fcfe8c34b62d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh;
    min-height: fit-content;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.hero .heading {
    color: white;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, .7);
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 40%; */
    /* height: 100%; */
    margin: 0 auto;
}

.hero .contactForm {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}

.contactForm form {
    background-color: rgba(150, 150, 150, .9);
    border-radius: 10px;
    box-shadow:
        1px 1px 1px rgba(150, 150, 150, .3),
        1px 0 4px rgba(0, 0, 0, .7);
    height: fit-content;
    width: 300px;
    margin: 0 auto;
}

.formTitle {
    background-color: #FF9147;
    color: rgba(0, 0, 0, .9);
    border-radius: 10px 10px 0 0;
    padding: 10px;
}

.formInputGroup {
    display: flex;
    flex-direction: column;
    padding: 15px;
    text-align: center;
    font-size: 12px;
    color: rgba(250, 250, 250, .8);
    font-family: Arial, Helvetica, sans-serif;
}

.formInputGroup input {
    background-color: #C4C4C4;
    border-radius: 50px;
    margin: 8px;
    padding: 5px 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.formInputGroup input[type=submit] {
    background-color: #43513D;
    color: white;
    text-transform: uppercase;
}

.briefing {
    position: relative;
    height: fit-content;
    padding: 20px;
}

.briefing article {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: fit-content;
    background: rgba(130, 133, 129, 0.59);
    margin: 80px auto;
    padding: 15px;
    height: 250px;
    width: 90%;
}

.briefing article .briefingImage {
    height: 100%;
    width: 200px;
}

.briefingTextleft .briefingImage img {
    position: absolute;
    right: -30px;
    top: -25px;
    height: 300px;
    box-shadow:
        -1px -1px 1px rgba(150, 150, 150, .3),
        -1px 0 4px rgba(0, 0, 0, .7);
}

.briefingTextRight .briefingImage img {
    position: absolute;
    left: -30px;
    top: -25px;
    height: 300px;
    box-shadow:
        1px 1px 1px rgba(150, 150, 150, .3),
        1px 0 4px rgba(0, 0, 0, .7);
}

.briefingText {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: fit-content;
    max-width: 80%;
    height: 100%;
    padding: 10px;
}

.briefingText h3 {
    font-size: 24px;
    color: #43513D;
}

.briefingText p {
    margin: 10px 0;
}

.callToAction {
    content: "";
    background-color: rgba(130, 133, 129, 0.59);
    background-image: url('https://images.unsplash.com/photo-1514947864179-c3b63c910b69?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1631&q=80');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30vh;
    width: 100vw;
    z-index: 1;
    box-shadow: 0 -10px 10px rgba(0, 0, 0, .7);
    border-top: rgba(0, 0, 0, .7) 7px solid;
}

.callToAction div {
    position: absolute;
    width: 1450px;
    height: 155px;
    left: -0.74px;
    top: -100px;
    z-index: 99;
    content: "";
    background-color: orange;
    background: linear-gradient(180deg, #FFFFFF 41.78%, rgba(0, 0, 0, 0.85) 57.79%, #000000 66.52%, rgba(0, 0, 0, 0.4) 83.01%, rgba(0, 0, 0, 0.15) 96.59%);
}

.callToAction h2 {
    background-color: rgba(0, 0, 0, .9);
    border-radius: 10px;
    color: #FF9147;
    font-size: 3rem;
    padding: 10px 20px;
}