.consultation {
  display: flex;
}

.heroImage img {
  height: 60vh;
  min-height: 400px;
  width: 60vw;
}

.consultation article {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 2rem;
}

.consultation h3 {
  font-size: 34px;
}

.consultation p {
  font-size: 20px;
}

.callLink {
  background-color: #43513D;
  color: white;
  width: fit-content;
  padding: 15px 20px;
  border-radius: 50px;
  text-align: center;
  font-size: 22px;
  text-align: center;
  margin: 0 auto;
}

.callLink a {
  color: white;
  text-decoration: none;
}

.callLink svg {
  margin-left: 10px;
  transform: rotate(260deg);
}

.materials {
  margin: 20px auto 50px;
  text-align: center;
  font-size: 1.2rem;
  max-width: 1400px;
}

.materials hr {
  margin: 10px auto;
}

.gallery {
  padding: 20px;
}

.controls {
  background-color: #43513d44;
  position: relative;
  height: 70vh;
  margin: 10px auto;
  /* width: 90vw; */
}

.content {
  position: relative;
  content: "";
  height: 100%;
  width: 100%;
}

.content img {
  position: absolute;
  height: 90%;
  width: 85%;
  top: 15px;
  left: 15px;
}

.contentText {
  background-color: #43513def;
  color: white;
  text-align: left;
  position: absolute;
  z-index: 99;
  bottom: 15px;
  right: 15px;
  width: 70%;
  max-width: 700px;
  height: fit-content;
  min-height: 50%;
  padding: 10px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.6) 1px 1px 10px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
  overflow-y: hidden;
  cursor: ns-resize;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.contentText::-webkit-scrollbar {
  display: none;
}

.contentText h4 {
  font-size: 2rem;
  letter-spacing: 0.15rem;
  text-decoration: underline;
  margin-bottom: 15px;
}

.controlsLeft,
.controlsRight {
  position: absolute;
  top: 50%;
  z-index: 99;
  font-size: 2rem;
  color: #43513D;
  cursor: pointer;
  transition: all .3s ease-in-out;
  background-color: white;
  border-radius: 50%;
  height: 2.25rem;
  width: 2.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: .2px solid #43513D;
}

.controlsLeft:hover,
.controlsRight:hover {
  color: #43513db8;
}

.controlsLeft {
  left: -5px;
}

.controlsRight {
  right: -5px;
}

.controlsMarker {
  /* position: absolute; */
  /* bottom: -25px; */
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #43513D;
}

.controlsMarker svg {
  margin: 0 5px;
  cursor: pointer;
}

.controlsMarker .active {
  background-color: #43513D !important;
  border-radius: 50%;
}

.callContact div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
  margin: 0 auto;
  max-width: 1400px;
  border-top: #43513D 3px solid;
  border-bottom: #43513D 3px solid;
}

.callContact h3 {
  color: #ff9147;
  font-family: sans-serif;
  font-size: 1.2rem;
}

.callContact button {
  background-color: #43513D;
  color: white;
  padding: 5px 10px;
  border-radius: 50px;
}

.FaceOff * {
  box-sizing: border-box;
}

.FaceOff h4 {
  font-size: 4rem;
  color: white;
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translateX(-50%);
  white-space: nowrap;
}

.FaceOff {
  position: relative;
  height: 500px;
  width: 80vw;
  margin: 0 auto;
  background: #333;
}

.FaceOff div {
  position: absolute;
  width: 50%;
  height: 100%;
  overflow: hidden;
}

.FaceOff_left {
  left: 0;
  background: url('../public/residential_faceoff.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.FaceOff_left::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(179, 89, 89, 0.7);
}

.FaceOff_right {
  right: 0;
  background: url('../public/commercial_faceoff.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.FaceOff_right::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(121, 121, 240, 0.7);
}

.FaceOff_right,
.FaceOff_left,
.FaceOff_right::before,
.FaceOff_left::before {
  transition: all 1000ms ease-in-out;
}

.hover_left {
  width: 75% !important;
}

.hover_leftOther {
  width: 25% !important;
}

.hover_right {
  width: 75% !important;
}

.hover_rightOther {
  width: 25% !important;
}